<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{pessoa.listar}"></span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/telefone/cadastrar}" role="button"> 
					<span class="oi oi-plus" title="Cadastrar" aria-hidden="true"></span> 
					<span th:text="#{telefone.cadastrar}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{telefone.prefixo}"></th>
							<th th:text="#{telefone.ddd}"></th>
							<th th:text="#{telefone.numero}"></th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="telefone : ${telefones}">
							<td th:text="${telefone.id}"></td>
							<td th:text="${telefone.prefixo}"></td>
							<td th:text="${telefone.ddd}"></td>
							<td th:text="${telefone.numero}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>